$background-color-destaque: #ffff42;
$border-color-destaque: rgb(255, 215, 0);

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.produtos { /* bloco */
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 1%;
  margin: 56px auto;
  max-width: 640px;
  width: 100%;

    .produto__controle {

      &__imagem { /* elemento */
        width: 100%;
      }

      &__nome { /* elemento */
        font-size: 1.2em;
        margin: 8px 0;
      }

      &__descricao { /* elemento */
        color: gray;
      }

      &--em__destaque {
        background-color: $background-color-destaque;
        border: 2px solid $border-color-destaque;
        padding: 8px;
      }
    }
}
