// Fontes
$primary-font: 'Roboto', sans-serif;

// Esquema de cores
$primary-color: #01a3a4;
$secondary-color: #00d2d3;
$background-color: #c8d6e5;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;