* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  max-width: 800px;
  text-align: center;
}

#form-validation input, button {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px auto 16px auto;
  padding: 20px;  
  width: 200px;
}

.campos {
  display: flex;
  flex-direction: column;
  margin: 30px auto 15px auto;
}

.campo {
  border: 1px solid #000;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px 0 4px 0;
  width: 237px;
}

.campo + .campo {
  margin-top: 20px;
}

.campos label { 
  font-size: 1.5rem;
}

.sucess-message {
  display: none;
  background-color: rgba(0, 255, 0, 0.7);
  font-size: 1.5rem;
  margin: 0 auto;
  width: fit-content;
}

.error-message {
  display: none;
  background-color: rgba(255, 0, 0, 0.7);
  font-size: 1.5rem;
  margin: 0 auto;
  width: fit-content;
}

.same-number-message {
  display: none;
  background-color: rgba(247, 252, 0, 0.7);
  font-size: 1.5rem;
  margin: 0 auto;
  width: fit-content;
}