* {
  box-sizing: border-box;
  font-family: monospace;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e7e7e7;
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; 
  width: fit-content;
  max-width: 1200px;
}

.header-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-title img {
  height: 28px;
  margin-right: 20px;
}

.header-title h1 {
  font-size: 30px;
}

.form-input-task {
  display: flex;
  margin-bottom: 30px;
}

.form-input-task input {
  font-size: 1.5rem;
  padding: 10px;
  margin-right: 15px;
  width: 600px;
}

.form-input-task button {
  background-color: #009432;
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1.0);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
}

.form-input-task button:hover {
  background-color: #00a838;
}

.task-list {
  display: flex; 
  flex-direction: column;
  font-size: 1.5rem;
  margin: 0 auto;
}

.task-list ol li {
  cursor: pointer;
} 